# ATE naive estimation

In [1]:
import pickle as pkl
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression, Ridge

In [2]:
data = pkl.load(open('../data/data.pkl', 'rb'))
data.head(2)

   confidence  index  time  token_path  term_match  word_net  T   Y
0        33.6     11   4.0    0.614881    1.000000       1.0  0  18
1        33.6     12   3.0    0.430476    0.427287       1.0  0  12

In [9]:
means = data[['T','Y']].groupby('T').mean()
ATE = (means.loc[1] - means.loc[0]).item()
print(f"ATE = {ATE}")

ATE = 17.862195998673926